<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>我是大牙</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/static/website/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
    <div id="logo">
        <h1><a href="#">我是大牙 </a></h1>
        <p><em> 程序猿一个 </em></p>
    </div>
    <hr />
    <!-- end #logo -->
    <div id="header">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#" class="first">首页</a></li>
                <li><a href="javascript:alert('暂时木有写什么文章...')">文章</a></li>
                <li><a href="mailto:bigbigh@gmail.com">联系方式</a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="search">
            <SCRIPT language=javascript>
                function g(formname)	{
                    var url = "http://www.baidu.com/baidu";
                    if (formname.s[1].checked) {
                        formname.ct.value = "2097152";
                    }
                    else {
                        formname.ct.value = "0";
                    }
                    formname.action = url;
                    return true;
                }
            </SCRIPT>
            <form name="f1" onsubmit="return g(this)" action="http://www.baidu.com/baidu">
                <fieldset>
                    <input type="text" name="word" id="search-text" size="15" maxlength="100"/>
                    <input type="submit" id="search-submit" value="GO" />
                    <input name=tn type=hidden value="bds">
                    <input name=cl type=hidden value="3">
                    <input name=ct type=hidden>
                    <input name=si type=hidden value="davidwu.cn">
                    <input name=s type=hidden value="">
                    <input name=ie type=hidden value=utf-8>
                </fieldset>
            </form>
        </div>
        <!-- end #search -->
    </div>
    <!-- end #header -->
    <!-- end #header-wrapper -->
    <div id="page">
        <div id="page-bgtop">
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="#">Welcome to Condition </a></h2>
                    <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
                    <div class="entry">
                        <p>This is <strong>Condition </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.  You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p>
                        <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.Sed lacus. </p>
                    </div>
                </div>
                <div class="post">
                    <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
                    <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
                    <div class="entry">
                        <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
                    </div>
                </div>
                <div class="post">
                    <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
                    <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
                    <div class="entry">
                        <p>Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. </p>
                    </div>
                </div>
            </div>
            <!-- end #content -->
            <div id="sidebar">
                <ul>
                    <li>
                        <h2>个人信息</h2>
                        <p>雄性程序猿，已经工作近10年，已婚，有一女，有房木有车。目前任职<a href="http://toraysoft.com">广州图锐信息科技有限公司</a> </p>
                    </li>
                    <li>
                        <h2>开发技能</h2>
                        <ul>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">HTML</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>产品</h2>
                        <ul>
                            <li><a href="http://wx.diange.fm">微信点歌</a></li>
                            <li><a href="http://diange.fm">音乐说</a></li>
                            <li><a href="http://sutui.me">口袋生活</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end #page -->
    <div id="footer-bgcontent">
        <div id="footer">
            <p>Copyright (c) 2013 davidwu.cn. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
        </div>
    </div>
    <!-- end #footer -->
</div>
</body>
</html>
